.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
allure-results/
allure-report/
test-results/
playwright-report/
src/.auth/
.env
.env.dev
dist/
*.egg-info/
.ruff_cache/
.coverage
htmlcov/
*.log
