repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.10
          - pytest>=8.0
          - pymongo>=4.10
          - faker>=33.0
          - python-dotenv>=1.1
          - types-python-dateutil
        args: [--strict]
        pass_filenames: false
        entry: mypy src/ tests/
